body{
font-family: 'Titillium Web', sans-serif;  font-weight: bold;
}
#twitter{
  display:inline-block;
  float: left;
  clear: left;
  margin-top:2%;
  margin-left:6.5%;
  margin-right:1%;
  width: 40%;
}
div article{
  background-color: lightblue;
  float:right;
  clear: right;
  height:250px;
  overflow: auto;
  margin-top:2%;
  margin-right:1%;
  max-width: 45%;
  min-width: 45%;
  margin-right:6.5%;
}
article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:30%;
    border-radius:50px;
    padding-top:3%;
}
article ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: inherit;
}
article li img
  {
    float: left;
    margin-left: 6%;
    margin-right: 4%;
    margin-top: 7%
  }
header, footer, nav{
  display: block;
  margin: 10px auto 10px auto;
  clear: both;
  max-width: 60%;
  text-align: center;
}
header a{
  text-decoration: none;
  color:black;
}
header h1{
  font-size: 4em;
}
nav ul{
  border-radius: 30px;
}
nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: inherit;
}
              nav li
                {
                  float: left;
                  width: 25%;
                }
               nav a
                {
                    display: block;
                    background-color: #00AFD4;
                    text-align: center;
                    padding: 4px;
                    text-decoration: none;
                    color:black;
                }
                nav a:hover
                {
                    background-color:blue;
                }
article p{
  font-size: 1.1em;
  margin: 10px;
  padding: 10px;
  text-align: left;
}
article dl{
  font-size: 1.1em;
  margin: 10px;
  padding: 10px;
}
footer{
  display: block;
  border-radius: 10px;
  background-color:#00AFD4;
  margin-top:28%;
}
/*SMALL SCREEN*/
@media (max-width: 748px) {
.body {
width: 90%;
display: block;
padding: 3% 3% 3% 3%;
margin: 3% 0 0 3%;
}
#twitter{
  display:none;
}
div article{
background-color: lightblue;
    clear: both;
    height: 40%;
    margin-right: 26%;
    text-align: center;
    width: 100%;
    margin-bottom: 2%;
    margin-bottom: 0;
  }

.navbar li {
width: 100%;
clear:both;
}
}