html,body {
  overflow-x: hidden;
}

span {
  color: #002190;
}

body {
  font-family: 'Titillium Web', sans-serif;  font-weight: bold;
}

i {
  color: #002190;
}

i:hover {
  color: #002190;
}

a, a:hover {
  color: #002190;
}

article a {
  text-decoration: underline;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  display: block;
}

h1 {
  font-size: 5em;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

article p {
  font-size: 1.1em;
  padding-bottom: 6%;
}

footer i {
  color: black;
}

.second-icon {
  margin-top: 200%;
}

.right-icons {
  margin-left: 20px;
}

.bgimg {
  position: absolute;
  background-repeat: no-repeat;
  height: 33%;
  width: 20%;
}

.img1 {
  background-image: URL('http://wiliajc87.github.io/imgs/kid-superhero.jpg');
  display: none;
}

.img2 {
  background-image: URL('http://wiliajc87.github.io/imgs/geordi.jpg');
  display: none;
}

.img3 {
  background-image: URL('http://wiliajc87.github.io/imgs/sinatra.jpg');
  display: none;
}

.img4 {
  background-image: URL('http://wiliajc87.github.io/imgs/reagan.png');
  display: none;
  right: 0;
}

.img5 {
  background-image: URL('http://wiliajc87.github.io/imgs/chicken-rachel.jpg');
  display: none;
  right: 0;
}

.img6 {
  background-image: URL('http://wiliajc87.github.io/imgs/von.jpg');
  display: none;
  right: 0;
}

.img1, .img4 {
  top: 0;
}

.img2, .img5 {
  top: 33%;
}

.img3, .img6 {
  top: 66%;
}

@media(min-width:1200px){}

@media(min-width:992px){
  .fa-container {
    display: visible;
  }
}
@media(max-width:992px){
  .fa-container {
    display: none;
    font-size: 0;
    max-height: 0;
    line-height: 0;
    padding: 0;
  }
  .col-sm-6, .col-xs-6 {
    margin-left: 25%;
  }
}
@media(max-width:768px){
  footer p {
    display: none;
  }

  h1 {
    color: #002190;
  }

  span {
    color: black;
  }

  .bgimg {
    display: none;
    font-size: 0;
    max-height: 0;
    line-height: 0;
    padding: 0;
  }
}
@media(max-width:450px){
  h1 {
    font-size: 3.5em;
  }
}
