body{
  font-family:monospace, sans-serif;
  font-weight: bold;
}
#header h1{
  font-size: 4em;
  line-height: .5em;
}

#header p {
  font-size:2em;
  line-height: 0;
}
#header
{
  padding:-10px;
  margin: 1% calc(1% - 2px) 1% calc(1% - 2px);
}
#whatis, #DBC, #comparison, #copyright {
  border: 2px solid;
  display: inline-block;
  float: left;
  background-color: lightblue;
  margin: 1% calc(1% - 2px) 1% calc(1% - 2px);
  border-radius: 30px;
}
#whatis {
  width:48%;
}
#DBC {
  width:48%;
}
div h2, div p{
  padding-left:2%;
  padding-right:2%;
}
#copyright
{
  display: block;
  border-radius:10px;
  clear:both;
  background-color:#00AFD4;
}